head{
    background-color: #d1f2eb;
}
body{
    background-color: #d1f2eb;
    
}
h1 {
    text-align: center;
    color: #50c878;
    
}
button{
    color: #013220;
} 
hr{
    background-color: black;
}
img{
    left: 30%;
    position: absolute;
}
.zoo2{
    position: absolute;
    top: 58%;
    font-size: 300%;
    left: 60%;
}
.online_watch_zoo2{
    position: absolute;
    height: 3cap;
    width: 14%;
    left: 30%;
    top: 63%;
    font-size: 200%;
    background-color: #50c878;
}
.zoo2_play{
    position: absolute;
    height: auto;
    width: auto;
    left: 27%;
}

