head{
    background-color: #d1f2eb;
}
body{
    background-color: #d1f2eb;
    
}
h1 {
    text-align: center;
    color: #50c878;
}
button{
    color: #013220;
} 
hr{
    background-color: black;
}